.about {
    margin: 3% 5%;
    @media screen and (min-width: 300px) and (max-width: 1000px) {
      margin: 5% 1%;
    }
    img {
      height: 100%;
    }
    p , h3{
      // line-height: 1.8em;
    width:55%;
    margin-left:10%;
    text-align: left;
    float: left;
    }
  }
  
