.card {
    border-radius: 10px;
    border-width: 20px;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.541);
    width: 100%;
    margin-top: 2%;
    margin-bottom:2%;
    overflow: hidden !important;
    a:hover{
      text-decoration: none;
    }
  .btn-light, .btn-secondary{
    border-radius: 3px !important;
  }
  }
  