.card {
    border-radius: 10px;
    border-width: 20px;
    border-color: transparent;
    background: rgba(255, 255, 255, 0.829);
    width: 100%;
    margin-top: 3.5%;
    margin-bottom:2%;
    overflow: hidden !important;
    a:hover{
      text-decoration: none;
    }
  .btn-warning , .btn-primary{
    border-radius: 3px !important;
  }
  }


.projectL{
  float:left;
  height: 520px;
  width: 40%;
  @media screen 
  and (max-width: 650px) {
    width: 100%;
}
}

.projectR{
  float:right;
  height: 520px;
  width: 40%;
  @media screen 
  and (max-width: 650px) {
    width: 100%;
}
}

containerP{
  margin-bottom: 10%;
}
